:root {
  --text-color: #fff;
  --primary-color: #903696;
  --secondary-color: #500f55;
  --tasks-delimiter-color: #a752ad;
  --task-done-color: #999;
  --remove-button-color: #ea4457;
  --checkbox-checked-color: rgb(27, 198, 35);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  width: 960px;
  margin: 0 auto;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 > em {
  color: var(--primary-color);
  font-style: normal;
}

button {
  color: var(--text-color);
}

#app {
  display: flex;
  justify-content: space-between;
}

.todo {
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 450px;
}

.add-task-form {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--tasks-delimiter-color);
}

.add-task-input {
  outline: none;
  border: none;
  padding: 10px;
  width: 100%;
}

.add-task-input::placeholder {
  font-style: italic;
}

.tasks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tasks:empty {
  display: none;
}

.task {
  padding: 10px 15px;
  border-bottom: 1px solid var(--tasks-delimiter-color);
}

.task.done {
  text-decoration: line-through;
  color: var(--task-done-color);
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  text-indent: -4px;
}

.checkbox.checked {
  border-color: var(--checkbox-checked-color);
  color: var(--checkbox-checked-color);
}

.task .checkbox {
  margin-right: 10px;
}

.remove-button {
  display: none;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-color: var(--remove-button-color);
  border: none;
  cursor: pointer;
  float: right;
  font-family: monospace;
}

.task:hover .remove-button {
  display: inline-block;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 40px;
}

.button {
  background-color: var(--primary-color);
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.button.active,
.button:hover {
  background-color: var(--secondary-color);
}

.text-link {
  cursor: pointer;
  border: none;
  background: none;
}

.text-link:hover {
  text-decoration: underline;
}
